<div class="container-fluid footer">
    <div class="container py-5">
        <div class="row justify-content-between">
            <div class="col-7 col-md-3">
                <div class="text-xs">Copyright © 2022</div>
                <h4 class="my-0">Eduardo García</h4>
                <b>FRONT END DEVELOPER</b>
            </div>
            <div class="col-5 col-md-3 text-right">
                <ul>
                    <li><a href="https://www.instagram.com/eedy.garcia/" target="_blank" class="text-white"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/eduardo-garc%C3%ADa-877aaa96/" target="_blank" class="text-white"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="https://twitter.com/eedygarcia" target="_blank" class="text-white"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="https://www.facebook.com/3ddy.garcia/" target="_blank" class="text-white"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                    <li><a href="https://github.com/eedyGarcia/" target="_blank" class="text-white"><i class="fab fa-github-square"></i> GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>