.navbar.bg-dark{
    background-color:#11294A !important;
}
.navbar-toggler{
    border:none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

@media(max-width:991px){
    .navbar .nav-item{
        padding-top:.5rem;
        padding-bottom:.5rem;
    }
    .navbar-brand {
        margin-right: auto !important;
        margin-left: auto !important;
        letter-spacing: 2px;
    }
}