<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">&#60;Eduardo García Dev &#47;&#62;</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="acerca-de-mi/">Acerca de mí</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="portafolio/">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="blog/">Blog</a>
          </li> -->
          </ul>
      </div>
    </div>
  </nav>