<div class="container-fluid css-selector bg-dots py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="elementsFloating">
                <div class="labelFloating labelF-01">DEVELOPER</div>
                <div class="labelFloating labelF-02">FRONT END</div>
                <div class="labelFloating labelF-03">BACKEND</div>
            </div>
            <div class="col-md-12 text-center my-3">
                <div class="circlePhoto animate__animated animate__fadeInDown"></div>
            </div>
            <div class="col-md-12 my-4 my-sm-0 text-center">
                <span class="text-emoji">🇲🇽</span> &nbsp;Ciudad de México
                <h2><b>Hola soy Eduardo,</b></h2>
            </div>
            <div class="col-md-7">
                <p>
                    Soy <b>Ingeniero en Sistemas Computacionales</b>, estudio actualmente la Maestría 
                    en Gestión de Proyectos y soy coFounder de <a href="https://editandoideas.com"><b>Editando Ideas</b></a>.
                </p>
                <p>
                    Diseño y programo desde hace <b>11 años</b> y a lo largo de mi carrera he trabajado desde 
                    diferentes frentes como <b>Líder de Proyectos</b>, <b>Arquitectura en la Nube</b>, <b>BackEnd</b> y <b>FrontEnd</b>, 
                    prácticamente un FullStack, sin embargo, lo que más me apasiona es trabajar con el UX/UI de un proyecto.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 mb-3">
                <p>
                    Me he dedicado por algunos años a desarrollar plataformas web 
                    y aplicaciones móviles profesionales y eficientes para 
                    diferentes empresas. Me encanta pasar por todo el proceso con 
                    el cliente, desde el concepto hasta el diseño, el 
                    desarrollo y el lanzamiento. Me gratifica ver que los 
                    proyectos están cumpliendo su objetivo y realmente 
                    se está resolviendo un problema operativo.
                </p>
                <p><a href="acerca-de-mi"><i class="fas fa-external-link-alt text-xs"></i> Ver sección Acerca de mí</a></p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid cuote">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="my-0">
                    "Razonar antes de codificar"
                </h1>
                - Eduardo García
            </div>
        </div>
    </div>
</div>


<div class="container-fluid text-center my-5 py-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Proyectos en los que he participado</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="https://consaludenarm.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Consalud ENARM</div>
                <i class="fab fa-react fa-2x"></i>
                <i class="fab fa-node-js fa-2x"></i>
                <i class="fab fa-cc-paypal fa-2x"></i>
                <i class="fab fa-android fa-2x"></i>
                <i class="fab fa-apple fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.001.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://sgsport.com.mx/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">SG Sport</div>
                <i class="fab fa-react fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fab fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.002.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://januxmd.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">JanuxMD</div>
                <i class="fab fa-angular fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fab fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.003.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://cceejecutivos.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Centro de Capacitación de Ejecutivos</div>
                <i class="fab fa-angular fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fas fa-map-marked-alt fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.004.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://consultoresintegra.mx/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Integra MiPymes Group</div>
                <i class="fab fa-angular fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fas fa-map-marked-alt fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.005.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://paolagarza.com.mx/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Paola Garza</div>
                <i class="fab fa-react fa-2x"></i>
                <i class="fab fa-angular fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fab fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.006.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://whole.com.mx/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">WHOLE MX</div>
                <i class="fab fa-js fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-php fa-2x"></i>
                <i class="fab fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.007.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://biggercondobleg.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Bigger con Doble G</div>
                <i class="fab fa-js fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fab fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.008.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://nativotours.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Nativo Tours</div>
                <i class="fab fa-js fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-html5 fa-2x"></i>
                <i class="fab fa-css3-alt fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.009.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://editandoideas.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Editando Ideas</div>
                <i class="fab fa-js fa-2x"></i>
                <i class="fab fa-bootstrap fa-2x"></i>
                <i class="fab fa-laravel fa-2x"></i>
                <i class="fab fa-angular fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.010.jpeg" alt="" class="imgLayer">
        </a>
        <a href="https://compuforzza.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">CompuForzza</div>
                <i class="fa-brands fa-elementor fa-2x"></i>
                <i class="fa-brands fa-wordpress fa-2x"></i>
                <i class="fa-brands fa-cc-paypal fa-2x"></i>
                <i class="fa-brands fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.011.jpeg" alt="" class="imgLayer">
        </a>
        <a href="http://fugitivetrend.com/" target="_blank" class="layerDark">
            <div class="layerDarkLayer">
                <div class="layerDarkText">Fugitive Trend</div>
                <i class="fa-brands fa-elementor fa-2x"></i>
                <i class="fa-brands fa-wordpress fa-2x"></i>
                <i class="fa-brands fa-cc-paypal fa-2x"></i>
                <i class="fa-brands fa-stripe fa-2x"></i>
            </div>
            <img src="assets/img/capturas/proyecto.012.jpeg" alt="" class="imgLayer">
        </a>
    </div>
</div>

<div class="container-fluid cuote">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="my-0">
                    El diseño no es solo lo que se ve, es cómo funciona
                </h1>
                - Steve Jobs
            </div>
        </div>
    </div>
</div>
