<div class="container-fluid bienvenida-container css-selector bg-dots py-5">
    <div class="container">
        <div class="row justify-content-center">
            <!-- d-block d-sm-none -->
            <div class="col-md-12 text-center  my-3">
                <div class="circlePhoto animate__animated animate__fadeInDown"></div>
            </div>
            <div class="col-md-12 my-4 my-sm-0 text-center">
                <span class="text-emoji">🇲🇽</span> &nbsp;Ciudad de México
                <h2><b>Hola soy Eduardo,</b><br>desarrollador Front End</h2>
            </div>
            <div class="col-md-7">
                <p>
                    Soy <b>Ingeniero en Sistemas Computacionales</b>, estudio actualmente la Maestría 
                    en Dirección de Negocios y también soy coFounder de <a href="https://editandoideas.com"><b>Editando Ideas</b></a>.
                </p>
                <p>
                    Diseño y programo desde hace 11 años y a lo largo de mi carrera he trabajado desde 
                    diferentes frentes como <b>Líder de Proyectos</b>, <b>Arquitectura en la Nube</b>, <b>BackEnd</b> y <b>FrontEnd</b>, 
                    prácticamente un FullStack, sin embargo, lo que más me apasiona es trabajar con el UX/UI de un proyecto.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 mb-3">
                <p>
                    Me he dedicado por algunos años a desarrollar plataformas web 
                    y aplicaciones móviles profesionales y eficientes para 
                    diferentes empresas. Me encanta pasar por todo el proceso con 
                    el cliente, desde el concepto hasta el diseño, el 
                    desarrollo y el lanzamiento. Me gratifica ver que los 
                    proyectos están cumpliendo su objetivo y realmente 
                    se está resolviendo un problema operativo.
                </p>
                <p><a href="acerca-de-mi"><i class="fas fa-external-link-alt text-xs"></i> Ver sección Acerca de mí</a></p>
            </div>
        </div>
    </div>
</div>