<div class="container-fluid bienvenida-container py-5">
    <div class="container">
        <div class="row">
            <!-- d-block d-sm-none -->
            <div class="col-md-12 text-center  my-3">
                <div class="circlePhoto animate__animated animate__fadeInDown"></div>
            </div>
            <div class="col-md-4 my-4 my-sm-0">
                <span class="text-emoji">🇲🇽</span> &nbsp;Ciudad de México
                <h2><b>Hola soy Eduardo,</b><br>desarrollador Front End</h2>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-4 mb-3">
                Me he dedicado por algunos años a desarrollar plataformas web 
                y aplicaciones móviles profesionales y eficientes para 
                diferentes empresas. Me encanta pasar por todo el proceso con 
                el cliente, desde el concepto hasta el diseño y luego el 
                desarrollo y el lanzamiento. Me gratifica ver que los 
                proyectos están cumpliendo su objetivo y realmente 
                se está resolviendo un problema operativo.
            </div>
            <div class="col-md-4 px-md-5 mb-3">
                <b>2014 a la fecha</b>
                <p>He trabajado en <a href="https://editandoideas.com/" target="_blank">Editando Ideas</a>, como líder de proyectos y desarrollador web.</p>
                <p>Principalmente planteado la arquitectura de los desarrollos que se llevan a cabo para diferentes clientes.</p>
            </div>
            <div class="col-md-4 px-md-5 mb-3">
                <b>DEVELOPER</b>
                <p>Mi trayecto como Desarrollador me ha llevado a trabajar con diferentes Lenguajes 
                    y Frameworks, así como distintos métodos de arquitectura en la nube, lo que me
                    ha permitido aminorar costos para muchos clientes, obteniendo el mayor
                    rendimiento y estabilidad para el uso de sus plataformas.
                </p>
            </div>
        </div>
    </div>
</div>