<navbar></navbar>

<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h3><b>Te cuento acerca de mí</b></h3>
            </div>
            <div class="col-md-7">
                <div class="card my-3 rounded-10">
                    <div class="card-body">
                        <p>
                        Desde pequeño tengo un gusto muy grande por la tecnología, solía desarmar 
                        la computadora de la casa para aumentar la memoria RAM, el almacenamiento, 
                        arreglar fallos, mejorar la ventilación, hacer mejoras incluso desde antes
                        de que se pusieran de moda las PC Gamer. Recuerdo que había un juego que
                        me gustaba mucho llamado Empire Earth, era un juego de escenarios en donde
                        podías armar a tus ejércitos y ponerlos a combatir contra otros, y tenía
                        una característica especial, podrías crear tus propios escenarios con mucho
                        detalle, al grado de poder programarlos con condiciones lógicas para
                        activar eventos en momentos determinados. Ese fue mi primer acercamiento
                        con la programación, solo usando condiciones "Y"/"O" para hacer de mis 
                        escenarios nuevos modos de juego.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="text-center col-12">
                        <img src="assets/img/fotos/tequis.png" class="img-fluid rounded-10 box-shadow">
                    </div>
                </div>
                <div class="card my-3 rounded-10">
                    <div class="card-body">
                        <p>
                        Mi formación formal en programación comenzó en la preparatoria, mis 
                        proyectos académicos de desarrollo tuvieron siempre un gran valor 
                        para mi aprendizaje y gran interés de mi lado, como muchos de los 
                        que iniciamos con esta carrera comencé con C++, Visual Basic y Java, 
                        pero mi lenguaje predilecto en este nivel fue C#, me parecía más 
                        amigable en su sintaxis y en ese entonces los expertos decían que 
                        sería el futuro. En aquel entonces no había aplicaciones en Android, 
                        pero si hubiera sido el caso creo que me hubiera interesado más por Java.
                        </p>
                    </div>
                </div>
                <div class="card my-3 rounded-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                Al terminar la preparatoria, en el 2012 conseguí empleo como 
                                HelpDesk en <b>ARASA <a href="https://www.winsef.com/" target="_blank">Winsef</a></b> 
                                una empresa de tecnología dedicada al desarrollo de CRM´s para Agentes de 
                                Seguros, aquí aprendí sobre el ambiente profesional de desarrollo, 
                                sobre documentación y sobre el negocio de los seguros, aunque mi 
                                primer puesto no fue como desarrollador, me envolví con la dinámica 
                                de los desarrolladores, un puesto que desde luego anhelaba, pero 
                                no era mi momento.
                                </p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img src="assets/img/logos/winsef.png" class="img-fluid my-3">
                            </div>
                        </div>
                        <p>
                        En ARASA aprendí mucho, aunque no era desarrollador, hacía mejoras en el código
                        disponible de algunas versiones del software, algunas de ellas fueron consideradas 
                        para ser aplicadas en producción. Mi puesto en una segunda etapa dentro de esta 
                        empresa fue como Negociador y Capacitador, eso me permitía hablar con los clientes 
                        y entender las necesidades, aprender más sobre documentación, mejoras, nuevos 
                        proyectos y otros temas que me ayudaron a desarrollar habilidades ejecutivas.
                        </p>
                        <p>
                        Terminé mi relación con ARASA en 2014 para comenzar mi carrera universitaria, 
                        desde luego ya estaba seguro de lo que quería, Ingeniería en Sistemas 
                        Computacionales, ya contaba con muchas habilidades técnicas y 
                        conocimiento profesional que me permitieron destacar en las clases, 
                        claro tampoco es como que supiera de todo, me enfoqué mucho en 
                        mejorar mis conocimientos y habilidades como programador, a la par 
                        de la carrera también tomé algunos cursos en Platzi cuando 
                        comenzaban a dar cursos online.
                        </p>
                    </div>
                </div>
                <div class="card my-3 rounded-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9 mt-3">
                                <p>
                                Para solventar algunos gastos y para cubrir colegiaturas inicié con mi socia, 
                                hoy mi esposa, un proyecto que sería temporal llamado <b><a href="https://editandoideas.com/" target="_blank">Editando Ideas</a></b>. 
                                Comenzamos con varias aristas creativas, como diseño de logotipos, manuales 
                                corporativos, algunos impresos, diseño web y a menor escala desarrollo web. 
                                Nunca pensamos que el proyecto se pudiera extender por años, aprendimos mucho, 
                                nos permitió realizar grandes avances profesionales, hacer nuevos contactos, 
                                generar empleos y literalmente vivir de él.
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="assets/img/logos/editando.png" class="img-fluid editandologo">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>


    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Te platico un poco sobre mi forma de trabajar</h3>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-md-7">
                <div class="card my-3 rounded-20">
                    <div class="card-body">
                        <h4><b>Dirección de Proyectos</b></h4>
                        <p>
                        Esta actividad inherente a cada parte del proyecto es una de las más interesantes,
                        en mi caso arranca desde el acercamiento con el cliente, la lluvia de ideas, crear un
                        Brief funcional y llevarlo al maquetado. Me gusta hacer hincapié en que como líder 
                        del proyecto me agrada tomar la responsabilidad del maquetado, el diseño de la base 
                        de tatos y los principales diagramas de rutas y funciones, esto me permite plasmar 
                        el panorama de todo lo que se debe incluir.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="text-center col-10">
                        <img src="assets/img/fotos/proyectos.jpeg" alt="" class="img-fluid rounded-10 box-shadow my-4">
                    </div>
                </div>
                <div class="card my-3 rounded-20">
                    <div class="card-body">
                        <p>
                        Lo que siempre defiendo es que con una buena planificación del proyecto, el resto debe
                        ser solo ensamblar lo que sigue tal cual como si fueran bloques de lego.
                        </p>
                        <p>
                        Con el equipo las instrucciones son claras, el plan de trabajo ya debe contener todo lo
                        que necesitamos e incluso considerar aquellos factores pendientes por resolver, los <em>sprints</em>
                        que tenemos deben ser de ¿Cómo te fue hoy?, ¿Resolvimos?, ¿Qué problemas hubo?, ¿Cuánto nos 
                        retasa este <em>issue</em>?, adaptarnos, resolver o dar las instrucciones de resolución.
                        Este momento de actualización con el equipo es de lo más valioso para atender el proyecto,
                        todos aprendemos, se hace un FODA de forma implícita que nos permite evitar problemas futuros y/o
                        resolverlos.
                        </p>
                        <p>
                        La entrega y seguimiento es la cereza sobre el pastel y el momento de vitorear el esfuerzo y tiempo
                        invertidos en el proyecto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 mt-5">
                <div class="card my-3 rounded-20">
                    <div class="card-body">
                        <h4><b>Desarrollo BackEnd</b></h4>
                        <p>
                        Como desarrolladores, sabemos lo que es trabajar en el BackEnd de un 
                        proyecto, significa tener entendimiento de todo lo que necesitamos, 
                        seguridad, inputs, outputs, niveles de privilegios, bases de datos, 
                        diagramas de procesos, diagramas de datos, arquitectura en la nube, 
                        capacidades del hosting, etc. 
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="text-center col-10">
                        <img src="assets/img/fotos/frontback-end.jpg" alt="" class="img-fluid rounded-10 box-shadow my-4">
                    </div>
                </div>
                <div class="card my-3 rounded-20">
                    <div class="card-body">
                        <p>
                            En general me parece un nivel que puede ser sencillo o tortuoso según 
                            sea el proyecto, ante ello me gusta tener un Stack que permita tener 
                            una escalabilidad sin complicaciones, prefiero siempre trabajar con 
                            Google Cloud, pero no podemos negar que los costos son muy elevados 
                            cuando estamos arrancando el proyecto en este servicio, para ello me 
                            gusta llevar esa escalabilidad con DigitalOcean, es más práctico y 
                            está todo disponible en un solo lugar. 
                        </p>

                        <p>Una vez resuelto el tema de la arquitectura en la nube o hosting y 
                            su seguridad, podemos arrancar con un lenguaje, en mi experiencia 
                            PHP ha funcionado muy bien, pero cuando el proyecto va a demandar 
                            velocidad y concurrencia prefiero siempre usar NodeJS con Express, 
                            que en realidad se ha vuelto el primero a elegir, pero lo importante 
                            es tener la data disponible para el FrontEnd, preferiblemente 
                            acompañada de documentación al estilo 
                            <a href="https://swagger.io/" target="_blank">swagger</a> o 
                            <a href="https://treblle.com/" target="_blank">treblle</a>.
                        </p>
                    </div>
                </div>
            </div>
            

            <div class="col-md-7 mt-5">
                <div class="card my-3 rounded-20">
                    <div class="card-body">
                        <h4><b>Desarrollo FrontEnd</b></h4>
                        <p>
                            Siempre es una parte que coloco de forma intermedia dentro de los 
                            proyectos, prefiero contar con la mayor parte del BackEnd para 
                            comenzar la comunicación de la UI(interfaz de usuario) frente al BackEnd. 
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="text-center col-10">
                        <img src="assets/img/fotos/agiles.001.jpeg" alt="" class="img-fluid rounded-10 box-shadow my-4">
                    </div>
                </div>
                <div class="card my-3 rounded-20">
                    <div class="card-body">
                        <p>
                            Aún hay muchos puntos que resolver en esta etapa, muchos de esos 
                            temas de vez en cuando se omiten en el <em>Brief</em> y <em>RFI</em> del proyecto 
                            y no llegan a la documentación del BackEnd Developer, que por 
                            suerte a medida que voy ganando experiencia son más veces 
                            considerandos en el plan general, elementos como la respuesta de 
                            algunas API´s, valores de interacción y otros registros de 
                            similar magnitud.
                        </p>

                        <p>
                            Lo más importante en esta parte del proceso para mi es que la 
                            comunicación entre la interfaz y el BackEnd sea eficiente, 
                            segura, veloz y coherente, brindando siempre una interacción 
                            amigable para el usuario.
                        </p>

                        <p>
                            No solo se trata de construir a partir de un maquetado, en el 
                            maquetado también se omiten muchos puntos importantes que el 
                            FrontEnd debe de ir corrigiendo para que la interfaz sea 
                            integra para el usuario. Desde luego hacer pruebas es muy 
                            importante, sobre todo cuando se trata de seguridad, ya que 
                            muchas API´s de terceros no llegan al BackEnd, muchas se 
                            procesan en el Front y hay que cubrir esas vulnerabilidades 
                            que puedan existir.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>