<navbar></navbar>

<div class="container-fluid bienvenida-container py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/frontback-end.jpg" class="img-fluid rounded-10 box-shadow">
            </div>
            <div class="col-md-8">
                <h3><b>Te platico un poco más acerca de mí</b></h3>
                <p>
                Desde pequeño tengo un gusto muy grande por la tecnología, 
                solía desarmar la computadora de la casa para aumentar la 
                memoria RAM, el almacenamiento, arreglar fallos, mejorar 
                la ventilación, incluso desde antes de que se pusieran 
                de modo las PC Gamer, entre otras cosas. Recuerdo que 
                había un juego que me gustaba mucho, llamado Empire Earth, 
                era un juego de escenarios en donde podías armar a tus 
                ejércitos y ponerlos a combatir contra otros, pero tenía 
                una característica especial, podrías crear tus propios 
                escenarios, y mejor aún, programarlos con condiciones 
                lógicas, para activar eventos en momentos determinados.
                Ese fue mi primer acercamiento con la programación, solo
                usando condiciones "Y"/"O", para hacer de mis escenarios
                nuevos modos de juego.
                </p>
                <p>
                En fin, hoy soy <b>Ingeniero en Sistemas Computacionales</b> y me 
                enfoco mucho en el UX/UI, suelo crear proyectos personales 
                para poner en práctica mis habilidades y también para guiar 
                a mis colaboradores en Editando Ideas, de donde soy coFounder.
                </p>
            </div>
        </div>
    </div>
</div>

<actividades></actividades>