.fotoInicial{
    max-width:80%;
    margin:auto;
}
@media (min-width:601px){
    .editandologo{
        margin-top:50px;
    }
}
@media (max-width:600px){
    .editandologo{
        max-width: 150px;
    }
}

.footer[_ngcontent-syv-c17] {
    margin-top: 0px !important;
}