<navbar></navbar>

<div class="container-fluid bienvenida-container py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8 text-center">
                <h3><b>Te cuento acerca de mí</b></h3>
            </div>
            <div class="col-md-4 py-4 text-center">
                <img src="assets/img/fotos/sanmiguel.jpg" class="img-fluid rounded-10 box-shadow">
            </div>
            <div class="col-md-8">
                <p>
                Desde pequeño tengo un gusto muy grande por la tecnología, 
                solía desarmar la computadora de la casa para aumentar la 
                memoria RAM, el almacenamiento, arreglar fallos, mejorar 
                la ventilación, incluso desde antes de que se pusieran 
                de moda las PC Gamer, entre otras cosas. Recuerdo que 
                había un juego que me gustaba mucho, llamado Empire Earth, 
                era un juego de escenarios en donde podías armar a tus 
                ejércitos y ponerlos a combatir contra otros, pero tenía 
                una característica especial, podrías crear tus propios 
                escenarios, y mejor aún, programarlos con condiciones 
                lógicas, para activar eventos en momentos determinados.
                Ese fue mi primer acercamiento con la programación, solo
                usando condiciones "Y"/"O", para hacer de mis escenarios
                nuevos modos de juego.
                </p>
                <p>
                Comencé a aprender formalmente programación en la preparatoria,
                mis proyectos académicos de desarrollo tuvieron siempre un gran
                valor para mi aprendizaje, aprendí como todos C++, Visual Basic 
                y Java, pero mi lenguaje predilecto en la escuela fue C#, 
                además del entorno de Microsoft por excelencia Visual Studio. 
                En aquel entonces no había aplicaciones en Android, pero si hubiera
                sido el caso creo que me hubiera interesado más por Java.
                </p>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                        Al terminar la preparatoria, en el 2012 conseguí empleo profesional como HelpDesk
                        en <b>ARASA <a href="https://www.winsef.com/" target="_blank">Winsef</a></b>
                        una empresa de tecnología dedicada al desarrollo de CRM´s para 
                        Agentes de Seguros, aquí aprendí sobre el ambiente profesional de desarrollo 
                        y sobre el negocio de los seguros, aunque mi primer puesto no fue como desarrollador, 
                        veía mucho la dinámica de los desarrolladores, un puesto que desde luego anhelaba.
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="assets/img/logos/winsef.png" class="img-fluid my-3">
                    </div>
                </div>
                <p>
                    En ARASA aprendí mucho, aunque nunca estuve aquí como desarrollador, pero si metía
                    la mano de pronto en versiones que nunca fueron liberadas, pero apliqué soluciones
                    que si fueron consideradas, sobre todo por que en un momento ascendí a un puesto como
                    Negociador y Capacitador, eso me permitía hablar con los clientes y entender las
                    necesidades, aprender sobre documentación, mejoras, nuevos proyectos y otros temas 
                    que me ayudaron a desarrollar grandes habilidades ejecutivas.
                </p>
            </div>
        </div>
        <div class="col-md-12">
           <div class="row">
                <div class="col-md-9">
                    <p>
                        Terminé mi relación con ARASA en 2014 para comenzar mi carrera, desde luego ya estaba 
                        seguro de lo que quería, Ingeniería en Sistemas Computacionales, en ese periodo de mi carrera
                        universitaria inicié con mi socia un proyecto para solventar
                        nuestros gastos, entonces nació ahí 
                        <a href="https://editandoideas.com/" target="_blank">Editando Ideas</a> un proyecto que nos dio
                        bastante conocimiento, experiencia, contactos y ganancias durante los próximos años.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/img/logos/editando.png" class="img-fluid editandologo">
                </div>
                <div class="col-md-9 mt-3">
                    <p>
                    Hoy soy <b>Ingeniero en Sistemas Computacionales</b> egresado de la Universidad ICEL y me 
                    enfoco mucho en el UX/UI, suelo crear proyectos personales 
                    para poner en práctica mis habilidades y también para guiar 
                    a mis colaboradores en Editando Ideas, de donde soy coFounder.
                    </p>
                </div>
           </div> 
        </div>
    </div>
</div>

<actividades></actividades>

<footer></footer>