<div class="container-fluid bienvenida-container mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Los proyectos más importantes en los que he participado</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h4><b>Consalud ENARM</b> - 2017, 2019</h4>
            </div>
            <div class="col-md-4">
                <img src="assets/img/home/consalud.png" class="img-fluid">
                <div class="bg-blue text-white p-3 rounded-5 mb-3">
                    <b>Tecnologías:</b> React, Express, Flutter, MySQL, PayPal
                </div>
            </div>
            <div class="col-md-8 pt-3">
                <p> Es una plataforma LMS, destinada a los médicos 
                    egresados que buscan su residencia médica, la 
                    plataforma les permite prepararse para en examen 
                    ENARM</p>
                
                <p> Para este proyecto dirigí y participé en el desarrollo de:</p>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.consaludenarmsystem.democonsaludenarm" target="_blank">Aplicación en Android</a> +10,000 descargas</li>
                    <li><a href="https://apps.apple.com/mx/app/consalud-enarm/id1514316549" target="_blank">Aplicación en IOS</a></li>
                    <li><a href="https://platform.consaludenarm.com/" target="_blank">Plataforma Web</a></li>
                    <li><a href="https://consaludenarm.com/" target="_blank">Tienda Online</a></li>
                    <li>Dashboard</li>
                    <li>API</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="my-5">
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h4><b>Paola Garza</b> - 2020</h4>
            </div>
            <div class="col-md-4">
                <img src="assets/img/home/apppaola1.png" class="img-fluid">
                <div class="bg-blue text-white p-3 rounded-5 mb-3">
                    <b>Tecnologías:</b> Angular, React, Laravel, MySQL, Stripe
                </div>
            </div>
            <div class="col-md-8">
                <p> Es una Single Page App, destinada a realizar valoraciones de la piel, 
                    fue desarrollada para la influencer Paola Garza e incluye un cuestionario
                    y captura de fotografías para ser verificadas desde el dashboard por
                    seres humanos para emitir un diagnóstico.
                </p>
                
                <p> En este proyecto realicé todo el desarrollo, excepto el maquetado. El proyecto incluye:</p>
                <ul>
                    <li><a href="https://diagnosticos.paolagarza.com.mx/" target="_blank">Página de valoración</a> (Solo para móviles)</li>
                    <li>Dashboard</li>
                    <li>API</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="my-5">
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h4><b>SAUCCE MX</b> 2015, 2017</h4>
            </div>
            <div class="col-md-4">
                <img src="assets/img/home/cceimg.png" class="img-fluid">
                <div class="bg-blue text-white p-3 rounded-5 mb-3">
                    <b>Tecnologías:</b> Angular, Laravel, MySQL, API Google Maps
                </div>
            </div>
            <div class="col-md-8">
                <p> 
                    Es uno de los proyectos más importantes en los que he participado, desarrollando
                    completamente toda la estructura el ERP, destinado a la gestión y verificación de
                    documentos para los participantes en los apoyos del INADEM del 2015 al 2018.
                </p>
                
                <p>
                    Este proyecto fue desarrollado para el 
                    <a target="_blank" href="https://cceejecutivos.com/">Centro de Capacitación de Ejecutivos</a> y para
                    <a target="_blank" href="http://consultoresintegra.mx/">Integra MiPymes Group</a>, ambos colaboradores
                    y proveedores del extinto Sistema Emprendedor. El proyecto incluye entre otras características:

                </p>
                <ul>
                    <li>Geolocalización de usuarios</li>
                    <li>Carga de documentos individuales</li>
                    <li>Carga de documentos masivos</li>
                    <li>Descarga por lotes</li>
                    <li>Generación de reportes</li>
                    <li>Generación de documentos en PDF</li>
                </ul>
            </div>
        </div>

        <!-- <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-8 mt-5 text-center">
                    <h3>¿Te gustaría conocer más sobre mi trabajo?</h3>
                    <a href="portafolio/" class="btn btnEduardo mt-4">Ver portafolio</a>
                </div>
            </div>
        </div> -->
    </div>
</div>