<div class="container-fluid actividades-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-4">
                <h3>Te platico un poco sobre mis actividades</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div><b>Desarrollo FrontEnd</b></div>
                        <p>
                        Siempre es una parte que coloco de forma intermedia dentro de los proyectos,
                        prefiero contar con la mayor parte del backend para comenzar la comunicación
                        de la UI(interfaz de usuario) frente al BackEnd. 
                        </p>
                        
                        <p>
                        Aún hay muchos puntos que resolver en esta etapa, muchos de esos temas de vez 
                        en cuando se omiten en el Brief y RFI del proyecto, que por suerte a medida 
                        que voy ganando experiencia son más veces considerandos en el plan general, 
                        elementos como la respuesta de algunas API´s, valores de interacción y otros
                        registros de similar magnitud.
                        </p>

                        <p>
                        Lo más importante en esta parte del proceso para mi es que la comunicación 
                        entre la interfaz y el backend sea eficiente, segura, veloz y coerente, 
                        brindando siempre una interacción amigable para el usuario.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div><b>Dirección de Proyectos</b></div>
                        <p>
                        Esta actividad inherente a cada parte del proyecto es una de las más interesantes,
                        en mi caso arranca desde el acercamiento con el cliente, la lluvia de ideas, crear un
                        Brief funcional y llevarlo al maquetado. Me gusta hacer hincapié en que como lider 
                        del proyecto me agrada tomar la responsabilidad del maquetado, el diseño de la base 
                        de tatos y los principales diagramas de rutas y funciones, esto me permite plazmar 
                        el panorama de todo lo que se debe incluir.
                        </p>
                        <p>
                        Lo que siempre defiendo es que con una buena planificación del proyecto, el resto debe
                        ser solo ensamblar lo que sigue tal cual como si fueran bloques de lego.
                        </p>
                        <p>
                        Con el equipo las instrucciones son claras, el plan de trabajo ya debe contener todo lo
                        que necesitamos e incluso considerar aquellos factores pendientes por resolver, los <em>sprints</em>
                        que tenemos deben ser de ¿Cómo te fue hoy?, ¿Resolvimos?, ¿Qué problemas hubo?, ¿Cuánto nos 
                        retasa este <em>issue</em>?, adaptarnos, resolver o dar las instrucciones de resolución.
                        Este momento de actualización con el equipo es de lo más valioso para atender el proyecto,
                        todos aprendemos, se hace un FODA de forma implicita que nos permite evitar problemas futuros y/o
                        resolverlos.
                        </p>
                        <p>
                        La entrega y seguimiento es la ceresa sobre el pastel y el momento de vitorear el esfuerzo y tiempo
                        invertidos en el proyecto.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>