<div class="container-fluid actividades-container">
    <div class="container">

    </div>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Te platico un poco sobre mi forma de trabajar</h3>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <h4><b>Dirección de Proyectos</b></h4>
                <p>
                Esta actividad inherente a cada parte del proyecto es una de las más interesantes,
                en mi caso arranca desde el acercamiento con el cliente, la lluvia de ideas, crear un
                Brief funcional y llevarlo al maquetado. Me gusta hacer hincapié en que como líder 
                del proyecto me agrada tomar la responsabilidad del maquetado, el diseño de la base 
                de tatos y los principales diagramas de rutas y funciones, esto me permite plasmar 
                el panorama de todo lo que se debe incluir.
                </p>
                <p>
                Lo que siempre defiendo es que con una buena planificación del proyecto, el resto debe
                ser solo ensamblar lo que sigue tal cual como si fueran bloques de lego.
                </p>
                <p>
                Con el equipo las instrucciones son claras, el plan de trabajo ya debe contener todo lo
                que necesitamos e incluso considerar aquellos factores pendientes por resolver, los <em>sprints</em>
                que tenemos deben ser de ¿Cómo te fue hoy?, ¿Resolvimos?, ¿Qué problemas hubo?, ¿Cuánto nos 
                retasa este <em>issue</em>?, adaptarnos, resolver o dar las instrucciones de resolución.
                Este momento de actualización con el equipo es de lo más valioso para atender el proyecto,
                todos aprendemos, se hace un FODA de forma implícita que nos permite evitar problemas futuros y/o
                resolverlos.
                </p>
                <p>
                La entrega y seguimiento es la cereza sobre el pastel y el momento de vitorear el esfuerzo y tiempo
                invertidos en el proyecto.
                </p>
            </div>
            <div class="col-md-6">
                <img src="assets/img/fotos/proyectos.jpeg" alt="" class="img-fluid rounded-10 box-shadow my-4">
            </div>

            <div class="col-md-5"></div>
            <div class="col-md-7 mt-5">
                <h4><b>Desarrollo BackEnd</b></h4>
            </div>
            <div class="col-md-5 d-none d-lg-block"><img src="assets/img/fotos/frontback-end.jpg" alt="" class="img-fluid rounded-10 box-shadow my-4"></div>
            <div class="col-md-7 my-3">
                <p>
                    Como desarrolladores, sabemos lo que es trabajar en el BackEnd de un 
                    proyecto, significa tener entendimiento de todo lo que necesitamos, 
                    seguridad, inputs, outputs, niveles de privilegios, bases de datos, 
                    diagramas de procesos, diagramas de datos, arquitectura en la nube, 
                    capacidades del hosting, etc. 
                </p>
                <p>
                    En general me parece un nivel que puede ser sencillo o tortuoso según 
                    sea el proyecto, ante ello me gusta tener un Stack que permita tener 
                    una escalabilidad sin complicaciones, prefiero siempre trabajar con 
                    Google Cloud, pero no podemos negar que los costos son muy elevados 
                    cuando estamos arrancando el proyecto en este servicio, para ello me 
                    gusta llevar esa escalabilidad con DigitalOcean, es más práctico y 
                    está todo disponible en un solo lugar. 
                </p>
                <p>Una vez resuelto el tema de la arquitectura en la nube o hosting y 
                    su seguridad, podemos arrancar con un lenguaje, en mi experiencia 
                    PHP ha funcionado muy bien, pero cuando el proyecto va a demandar 
                    velocidad y concurrencia prefiero siempre usar NodeJS con Express, 
                    que en realidad se ha vuelto el primero a elegir, pero lo importante 
                    es tener la data disponible para el FrontEnd, preferiblemente 
                    acompañada de documentación al estilo 
                    <a href="https://swagger.io/" target="_blank">swagger</a> o 
                    <a href="https://treblle.com/" target="_blank">treblle</a>.
                </p>
            </div>
            <div class="col-md-5 d-block d-lg-none">
                <img src="assets/img/fotos/frontback-end.jpg" alt="" class="img-fluid rounded-10 box-shadow my-4">
            </div>

            <div class="col-md-12 mt-5"><h4><b>Desarrollo FrontEnd</b></h4></div>
            <div class="col-md-6">
                <p>
                    Siempre es una parte que coloco de forma intermedia dentro de los 
                    proyectos, prefiero contar con la mayor parte del BackEnd para 
                    comenzar la comunicación de la UI(interfaz de usuario) frente al BackEnd. 
                </p>
                
                <p>
                    Aún hay muchos puntos que resolver en esta etapa, muchos de esos 
                    temas de vez en cuando se omiten en el <em>Brief</em> y <em>RFI</em> del proyecto 
                    y no llegan a la documentación del BackEnd Developer, que por 
                    suerte a medida que voy ganando experiencia son más veces 
                    considerandos en el plan general, elementos como la respuesta de 
                    algunas API´s, valores de interacción y otros registros de 
                    similar magnitud.
                </p>

                <p>
                    Lo más importante en esta parte del proceso para mi es que la 
                    comunicación entre la interfaz y el BackEnd sea eficiente, 
                    segura, veloz y coherente, brindando siempre una interacción 
                    amigable para el usuario.
                </p>

                <p>
                    No solo se trata de construir a partir de un maquetado, en el 
                    maquetado también se omiten muchos puntos importantes que el 
                    FrontEnd debe de ir corrigiendo para que la interfaz sea 
                    integra para el usuario. Desde luego hacer pruebas es muy 
                    importante, sobre todo cuando se trata de seguridad, ya que 
                    muchas API´s de terceros no llegan al BackEnd, muchas se 
                    procesan en el Front y hay que cubrir esas vulnerabilidades 
                    que puedan existir.
                </p>    
            </div>
            <div class="col-md-6">
                <img src="assets/img/fotos/agiles.001.jpeg" alt="" class="img-fluid rounded-10 box-shadow my-4">
            </div>
        </div>
    </div>
</div>