<navbar></navbar>

<div class="container-fluid bg-blue text-white pt-5 pb-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <h2><b>{{titulo}}</b></h2>
                {{fecha}}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start" [innerHTML]="contenido"></div>
        </div>
    </div>
</div>

<footer></footer>