<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h3>Blog</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-3">
            <div class="card rounded-10">
                <img src="assets/img/blog/blog01.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <b>¿Cuál es el mejor lenguaje de programación para aprender en 2022?</b>
                    </h5>
                    <p>
                        ¿Te preguntas cuál es el mejor lenguaje de programación para aprender en 2022? 
                        ¿Qué tecnología inicial o adicional puede elegir que le ayude a conseguir un 
                        trabajo bien remunerado?
                    </p>
                    <div class="col-md-12 text-end mt-3">
                        <a href="blog/post/1">Ver artículo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card rounded-10">
                <img src="assets/img/blog/blog02.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <b>Nuevas características de CSS en 2022</b>
                    </h5>
                    <p>
                        Hay muchas características nuevas de CSS en desarrollo 
                        mientras escribo esto. ¡Y 2022 es el año en que algunos 
                        grandes aterrizarán en un navegador cerca de usted, con 
                        el potencial de grandes cambios en la forma en que 
                        escribimos CSS! Exploré algunas de estas nuevas 
                        características para Smashing Magazine.
                    </p>
                    <!-- <div class="col-md-12 text-end mt-3">
                        <a href="#!">Ver artículo</a>
                    </div> -->
                </div>
            </div>
        </div>


        <div class="col-md-4 my-3">
            <div class="card rounded-10">
                <img src="assets/img/blog/blog03.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <b>Mis extensiones de código VS favoritas de 2022</b>
                    </h5>
                    <p>
                        Uso VSCode para casi todo, trabajando como desarrollador web, 
                        desarrollador de aplicaciones móviles.
                    </p>
                    <p>
                        Estas son algunas de mis extensiones favoritas que uso para 
                        hacer que mi VSCode se vea como quiero y hacer mi vida un 
                        poco más fácil.
                    </p>
                    <!-- <div class="col-md-12 text-end mt-3">
                        <a href="#!">Ver artículo</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>